.firstSec{
    background-color: #F4FEF3;
    padding:50px;
    position: relative;
    @media screen and (max-width:$breakpoint-tablet){     
        padding:20px;       
    }
    @media screen and (max-width:$breakpoint-mobile){ 
        padding:0px;
        margin-left: -35px;
     }
.imgSection{
   
   

    img{       
        width: 700px;
        height:350px; 
        @media screen and (max-width:$breakpoint-tablet){            
            width: 400px;
        height:300px;
                  

    }
    @media screen and (max-width:$breakpoint-mobile){   
      margin-left: -200px;
        width: 400px;
        height:300px;
        margin-left: -35px;

    }

    }
    .line{  
          @include lines;
        width: 600px;
        margin-top: -155px;
        margin-left: 400px;
        background-color:rgb(36, 20, 20);
        background-blend-mode: overlay;
        position: absolute;
        @media screen and (max-width:$breakpoint-tablet){            
        width: 450px;
        margin-left: 270px;
        margin-top: -105px;  
       
                  

    }
    @media screen and (max-width:$breakpoint-mobile){            
        width: 400px;
        margin-left: 47px;
        margin-top: 0px; 

}
        
        
    }
    .text{
        position: absolute;
        letter-spacing: 1px; 
        margin-top: -150px;
        margin-left: 400px;
        color: $white;
        width: 600px;
        height: 200px;
        padding: 30px;      
        background-color: #325288;
        @media screen and (max-width:$breakpoint-tablet){   
            margin-top: -100px;         
            width: 450px;
            margin-left: 270px;
            height: 150px;
           
                      
    
        }
        @media screen and (max-width:$breakpoint-mobile){            
            width: 400px;
        margin-left: 47px;
        margin-top: 5px; 
       
    
    }
    }
 


}

}
.textblock{
    background-color: $white;
    margin-left: 200px;
    margin-right: 200px;
    &-one{  
        .lineone{
            display: none;
            @media screen and (max-width:$breakpoint-mobile){    
                @include lines;
                margin-top: -45px;       
                margin-left: -58px;
                width: 400px;
                background-color:#75E6ED;
                
                      
        
        }
        
        }       
    @media screen and (max-width:$breakpoint-mobile){            
        margin-top: 200px; 
        margin-left: 0px;
    margin-right: 0px;
              

}

    }

    .box

    {
        @media screen and (max-width:$breakpoint-mobile){            
            background-color: #EAEFED;
                  
    
    }
       
        
        img{
            @media screen and (max-width:$breakpoint-mobile){   
               
                  width: 400px;
                  height:300px;
                  
          
          
              }

        }
    }
   

   .lineone{
       display: none;
       @media screen and (max-width:$breakpoint-mobile){            
        display: block; 
              

}

    }
    img{
        width: 900px;
        height: 400px;
        @media screen and (max-width:$breakpoint-tablet){            
        
            width: 700px;
            height: 300px;
                      
    
        }
        @media screen and (max-width:$breakpoint-mobile){            
            // display: block; 
                  
    
    }
    }
    @media screen and (max-width:$breakpoint-tablet){            
        
        margin-left: 70px;
    margin-right: 70px;
                  

    }
    @media screen and (max-width:$breakpoint-mobile){            
        // display: block; 
              

}
}

.latestpost{
    background-color: #F4EEE8;
    padding:100px;
    .tablet{
        @media screen and (max-width:$breakpoint-mobile){            
            display: none; 
                  
    
    }

    }
    .dis{
        @media screen and (max-width:$breakpoint-tablet){            
            display: none; 
                  

    }
    @media screen and (max-width:$breakpoint-mobile){            
        display: block; 
              

}
    }
    .firstpara{
        @media screen and (max-width:$breakpoint-mobile){            
           margin-top: -50px;
         
                  
    
    }

    }
    
    .shadoweffect{    
        border:2px solid #fff;
        box-shadow: 10px 10px 5px #ccc;        
      }
      .cardimage{
          margin-top: -25px ;
          height: 270px;
          width: 400px;
      }
      .shadoweffect:hover{
        
            // color:;
            transform: scale(1.025);
            box-shadow: 10px 10px 5px pink;   
        }

}

