.imageSection{
    background-color: #F4FEF3;
    padding:10px;
    // position: relative;
    img{
        margin-left: 400px;
        width: 700px;
        height:300px;   
        @media(max-width: $breakpoint-tablet){            
            margin-left: 200px;
            width: 470px;
        height:250px;
                  
    
    } 
    @media(max-width: $breakpoint-mobile){    

         margin-left:0px;
        width: 430px;
    height:200px;
              

}



}
    .line{
        position: absolute;
        @include lines;
        width: 600px;
        margin-top: -55px;
        margin-left: 20px;
        background-color:black;
        background-blend-mode: overlay;
        @media(max-width: $breakpoint-tablet){            
            width: 450px;
    
    }
     @media(max-width: $breakpoint-mobile){
         margin-top:0px;            
         margin-left:0px;
        width: 405px;
 
              

}
        
    }
    .text{
        position: absolute;
        letter-spacing: 1px; 
        margin-top:-50px;
        margin-left: 20px;
        color: $white;
        width: 600px;
        height: 200px;
        padding: 20px;      
        background-color: $footer;
        @media(max-width: $breakpoint-tablet){            
            width: 450px;
    
    }

    @media(max-width: $breakpoint-mobile){  
        margin-top: 5px;          
        margin-left:0px;
       width: 405px;
   height:200px;
             

}
    }
}

.form{
    .drop{
        margin-bottom: 10px;
        // background-color: rgb(3, 3, 3);
    }
    padding:40px;
    background-color: $white;
    margin-top:200px;
    button{
        @include buttons;
    }
    #first{
        width: 430px;
        height: 35px;
        @media(max-width: $breakpoint-mobile){
            width: 330px;

        }
    }
    .Firstname{
        @media(max-width: $breakpoint-mobile){
            width: 430px;

        }
        
    }
    .lastname{
        margin-top:65px ;
        @media(max-width: $breakpoint-tablet){            
            margin-left: -80px;
            margin-right: -50px;
    
    }
    @media(max-width: $breakpoint-mobile){
        margin-top: -20px;
        margin-left: 0px;
        margin-right: 0px;
        width: 430px;

    }
    }
}