@font-face {
    font-family: 'Arial';
    src: url('../fonts/ArialMT.woff2') format('woff2'),
        url('../fonts/ArialMT.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}


h1{
  font-family: 'Arial', sans-serif;
  font-size: 55px;
  @media(max-width: $breakpoint-mobile){
    font-size: 35px;
}

}
h2{
    font-family: 'Arial', sans-serif;
    font-size: 44px;
    @media(max-width: $breakpoint-mobile){
      font-size: 28px;
  }
}
h3{
    font-family: 'Arial', sans-serif;
    font-size: 35px;
    @media(max-width: $breakpoint-mobile){
      font-size: 24px;
  }

}
h4{
    font-family: 'Arial', sans-serif;
    font-size: 28px;
    @media(max-width: $breakpoint-mobile){
      font-size: 20px;
  }

}
h5{
    font-family: 'Arial', sans-serif;
    font-size: 23px;
    @media(max-width: $breakpoint-mobile){
      font-size: 18px;
  }

}
h6{
    font-family: 'Arial', sans-serif;
    font-size: 18px;
    @media(max-width: $breakpoint-mobile){
      font-size: 16px;
  }

}
body{
    font-family: 'Arial', sans-serif;
    font-size: 18px;
    @media(max-width: $breakpoint-mobile){
      font-size: 16px;
  }

}
caption{
    font-family: 'Arial', sans-serif;
    font-size: 14px;
   

}
